doctype html
head
    title Bill Tracker
    link(rel="stylesheet", href="stylesheets/bootstrap/bootstrap.min.css")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="https://cdn.firebase.com/js/client/2.2.6/firebase.js")
body
    .container.text-center
        .row
            h1 Track Bills
                a(href="index.html").btn.btn-default HOME
            button.btn.btn-default#committees Committees
            button.btn.btn-default#premierChambers Premier Chambers
            button.btn.btn-default#upperChambers Upper Chambers
        .row#chamberSelection
    script(src="scripts/tracking.js")
    script(src="scripts/clerk.js")
