doctype html
head
    title Bill Tracker
    link(rel="stylesheet", href="stylesheets/director.css")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="https://cdn.firebase.com/js/client/2.2.6/firebase.js")
body
    .container
        .nav
            a(href="index.html").btn.btn-default HOME
            a(href="executiveChanges.html").btn.btn-default Make Executive Changes
            a(href="data.html").btn.btn-default Data Visualization
            a(href="chamberAssignments.html").btn.btn-default Chamber Assignments
            h1 Sort Bills
        .content
            .toSort
                .headerWrap
                    h2 TO SORT
                #toSort
            .sorted
                .headerWrap
                    h2 SORTED
                #sorted
    script(src="scripts/sorting.js")
