doctype html
head
    title Bill Tracker
    link(rel="stylesheet", href="stylesheets/bootstrap/bootstrap.min.css")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="https://cdn.firebase.com/js/client/2.2.6/firebase.js")
body
    .container
        .row
            h1.text-center Sort Bills
            .row.text-center
                a(href="index.html").btn.btn-default HOME
                a(href="executiveChanges.html").btn.btn-default Make Executive Changes
    script(src="scripts/sorting.js") 
