doctype html
head
    title Bill Tracker
    link(rel="stylesheet", href="stylesheets/home.css")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script("https://cdn.firebase.com/js/client/2.2.6/firebase.js")
body
    .headerWrap
        h1 Welcome to South Carolina Youth in Government
    .nav
        a(href="director.html").btn.btn-default DIRECTOR
        a(href="student.html").btn.btn-default STUDENT
        a(href="advisor.html").btn.btn-default ADVISOR
        a(href="clerk.html").btn.btn-default CLERK
        a(href="governorDesk.html").btn.btn-default GOVERNOR
