doctype html
head
    title Bill Tracker
    link(rel="stylesheet", href="stylesheets/bootstrap/bootstrap.css")
    link(rel="stylesheet", href="stylesheets/home.css")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="https://cdn.firebase.com/js/client/2.2.6/firebase.js")
body
    .headerWrap
        h1 Welcome to South Carolina Youth in Government
    #loginForm
        .row
            .col-md-3
            .col-md-6
                input(type="text" placeholder="Enter Your User Password").form-control#userPassword
            .col-md-3
        br
        .row
            .col-md-4
            .col-md-4
                button.btn.btn-default.form-control#submit Enter Password
            .col-md-4
    .nav
        a(href="views/director.html").btn.btn-default DIRECTOR
        a(href="views/advisor.html").btn.btn-default ADVISOR
        a(href="views/clerk.html").btn.btn-default CLERK
        a(href="views/governor/governorDesk.html").btn.btn-default GOVERNOR
        a(href="views/student.html").btn.btn-default STUDENT
        a(href="views/resourceStaff.html").btn.btn-default RESOURCE STAFF
        a(href="views/judicialSystem.html").btn.btn-default ATTORNEY
    .footer
        p A 
            a(href="#" target="blank") Lorenzo Barberis Canonico 
            | production & 
            a(href="http://www.alyweir.com" target="blank") Aly Weir 
            | design
    script(src="scripts/userLogin.js")
