doctype html
head
    title Bill Tracker
    link(rel="stylesheet", href="stylesheets/bootstrap/bootstrap.min.css")
    script("https://cdn.firebase.com/js/client/2.2.6/firebase.js")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
body
    .container
        h1.text-center Welcome to South Carolina Youth in Government
        .row
            h2.text-center Who are you?
            .row.text-center
                .col-md-4
                .col-md-1
                    a(href="sort.html").btn.btn-default Director
                .col-md-1
                    a(href="make.html").btn.btn-default Student
                .col-md-1
                    a(href="list.html").btn.btn-default Advisor
                .col-md-1
                    a(href="tracker.html").btn.btn-default Clerk
                .col-md-4
