doctype html
head
    title Bill Tracker
    link(rel="stylesheet", href="stylesheets/home.css")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script("https://cdn.firebase.com/js/client/2.2.6/firebase.js")
body
    .headerWrap
        h1 Welcome to South Carolina Youth in Government
    .nav
        a(href="director.html").navButton DIRECTOR
        a(href="student.html").navButton STUDENT
        a(href="advisor.html").navButton ADVISOR
        a(href="clerk.html").navButton CLERK
        a(href="governorDesk.html").navButton GOVERNOR
