doctype html
head
    title Bill Tracker
    link(rel="stylesheet", href="stylesheets/home.css")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script("https://cdn.firebase.com/js/client/2.2.6/firebase.js")
body
    h1.text-center Support

