doctype html
head
    title Bill List
    link(rel="stylesheet", href="../stylesheets/advisor.css")
    link(rel="stylesheet", href="../stylesheets/autocomplete.css")
    script(src="https://cdn.firebase.com/js/client/2.2.6/firebase.js")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
body
    a(href="../index.html").btn.btn-default HOME
    .header
        h1 Advisors' Place
        select.form-control#schoolName
            option Select Your School
    .searchBar
        #search-form 
        #message
    .content
        .card
            .headerWrap
                h2 YET TO BE DEBATED
            #toBeDebated
        .card
            .headerWrap
                h2 PASSED
            #passed
        .card
            .headerWrap
                h2 FAILED
            #failed
    script(src="../scripts/advisor.js")
    script(src="../scripts/autocomplete_legislative.js")
    script(src="../scripts/typehead.js")
