doctype html
head
    title Alter Bill
    link(rel="stylesheet", href="../stylesheets/bootstrap/bootstrap.min.css")
    script(src="https://cdn.firebase.com/js/client/2.2.6/firebase.js")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
body
    .container
        h1.text-center Make Changes to a Bill
            a(href="../index.html").btn.btn-default HOME
        select.form-control#school
            option Select a School
    script(src="../scripts/alterBill.js")
