doctype html
head
    title Bill Tracker
    link(rel="stylesheet", href="../stylesheets/student.css")

    // Responsive Tags
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    //jQuery
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    
    //Firebase
    script(src="https://cdn.firebase.com/js/client/2.2.6/firebase.js")
body
    .container
            a(href="../index.html").btn.btn-default HOME  
        .card
            .header
                h1 Submit Your Bill
            .authorInfo
                input(type="text", placeholder="Author 1's first AND last name")#author1
                input(type="text", placeholder="Author 2's first AND last name")#author2
                select#school
                    option Select a School
            .billContent
                .section
                    h3.sectionLabel A BILL TO
                    input(type="text", placeholder="Enter Bill Title")#title
                .section
                    h3.sectionLabel SECTION 1
                    textarea(rows=8, placeholder="State the new policy in a brief declarative sentence, or in as few sentences as possible.")#section1
                .section
                    h3.sectionLabel SECTION 2
                    textarea(rows=8, placeholder="Define any ambiguous terms inherent in the first section.")#section2
                .section
                    h3.sectionLabel SECTION 3
                    textarea(rows=8, placeholder="Name the government agency that will oversee the enforcement of the bill along with the specific enforcement mechanism.")#section3
                .section
                    h3.sectionLabel SECTION 4
                    textarea(rows=8, placeholder="Explain what impacts you expect would come once the bill is implemented")#section4
                .section
                    h3.sectionLabel SECTION 5
                    .date
                        p When signed into law, this bill will be enacted upon:
                        input(type="date", placeholder="Indicate the implementation data/timeframe")#section5
            button(type="submit").btn.btn-default#makeBill Submit Bill
            p.warning Important! Once you submit your bill, any changes must be made at the conference through the amendment process.
    script(src="../scripts/makeBill.js")
    script(src="../scripts/makeBillFormStyling.js")
