doctype html
head
    title Bill Tracker
    link(rel="stylesheet", href="../stylesheets/bootstrap/bootstrap.min.css")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="https://cdn.firebase.com/js/client/2.2.6/firebase.js")
body
    .container.text-center
        h1 Committees
            a(href="../tracker.html").btn.btn-default BACK
        a(href="committees/criminal-justice.html").btn.btn-default Criminal Justice
        a(href="committees/education.html").btn.btn-default Education
        a(href="committees/environmental.html").btn.btn-default Environmental 
        a(href="committees/general-issues.html").btn.btn-default General Issues
        a(href="committees/healthcare-and-human-services.html").btn.btn-default Healthcare and Human Services
        a(href="committees/transportation.html").btn.btn-default Transportation
