doctype html
head
    title Bill Tracker
    link(rel="stylesheet", href="../stylesheets/bootstrap/bootstrap.min.css")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="https://cdn.firebase.com/js/client/2.2.6/firebase.js")
body
    .container
        h1.text-center Premier House
            a(href="../tracker.html").btn.btn-default BACK
    script(src="../scripts/premier-house.js")
