doctype html
head
    title Bill Tracker
    link(rel="stylesheet", href="../../stylesheets/bootstrap/bootstrap.css")

    // Responsive Tags
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    //jQuery
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    
    //Firebase
    script(src="https://cdn.firebase.com/js/client/2.2.6/firebase.js")
body
    h1.text-center Questions For Resource Staff
        a(href="../resourceStaff.html").btn.btn-default BACK
    #questions
    script(src="../../scripts/staffQuestions.js")
