doctype html
head
    title Bill Tracker
    link(rel="stylesheet", href="../../stylesheets/governorDesk.css")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="https://cdn.firebase.com/js/client/2.2.6/firebase.js")
body
    a(href="../../index.html").btn.btn-default BACK
    a(href="govScreen.html").btn.btn-default Pre-Screening Bills
    a(href="researchQuestions.html").btn.btn-default Research Questions
    .headerWrap
        h1 Governor Desk
    .content
        #past
            .sectionWrap
                h2 Evaluated
            #toSign
                h3 To Sign
            .takenCareOf
                #signed
                    h3 Signed into Law
                #vetoed
                    h3 Vetoed
        #realTime
            .sectionWrap
                h2 To Evaluate
    script(src="../../scripts/governor.js")
