doctype html
head
    title Bill Tracker
    link(rel="stylesheet", href="../../stylesheets/govScreen.css")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="https://cdn.firebase.com/js/client/2.2.6/firebase.js")
body
    a(href="governorDesk.html").btn.btn-default BACK
    .headerWrap
        h1 Bill Pre-Screening
    .content
        .toScreen
            .headerWrap
                h2 To Screen
            #toEvaluate
        .screened
            .headerWrap 
                h2 Screened
            #inFavor
                h3 In Favor
            #inOpposition
                h3 In Opposition
    script(src="../../scripts/govScreen.js")
