@import "reset";

/*Universal Elements*/

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.7em;
}

h3 {
	font-size: 2.4em;
	margin: 15px 0;
}

h4 {
	font-size: 1.4em;
	margin: 15px 0;
}

.container {
	position: relative;
	width: 90%;
	margin: 0 auto;
}

.top {
	border: 1px solid black;
	text-align: center;	
}

.billForm {
	border: 1px solid black;
	
	.identification {
		border: 1px solid black;
		
		input {
			margin: 5px 8%;
			height: 23px;
			width: 180px;
		}
		
		select.schools {
			background-color: white;
			margin: 5px 8%;
			height: 28px;
			width: 180px;
		}
	}

	.billTitle {
		border: 1px solid black;
		text-align: center;

		input {
			margin: 2px 1%;
			width: 200px;
			height: 20px;
		}	
	}

	.billText {
		border: 1px solid black;
		width: 90%;	
		margin: 0 auto;
	
		label {
			font-weight: bold;
			font-size: 1.4em;
		}

		textarea {
			width: 870px;
			height: 150px;
		}
		
		input {
			height: 20px;
			width: 250px;	
		}
	}
}
