@import "reset";
@import "bootstrap-buttons";

body {
    background-color: #B7D1DE;
    color: #485866;

    input::-webkit-input-placeholder { 
        font-size: 1.2em; 
    };

    input::-moz-placeholder { 
        font-size: 1.2em; 
    }; /* firefox 19+ */

    input:-ms-input-placeholder { 
        font-size: 1.2em; 
    }; /* ie */

    input:-moz-placeholder { 
        font-size: 1.2em; 
    };

    .card {
        width: 70%;
        border: 1px solid black;
        margin: 0 auto;
        background-color: #FFFFFF;

        .header {
            width: 100%;
            padding: 2% 0;
            background-color: #4E6E7D;

            h1 {
                text-align: center;
                color: white;
                font-size: 2em;
            };
        };

        .authorInfo {
            width: 85%; 
            margin: 20px auto;

            input {
                width: 40%;
                padding: 14px;
                border: 1px solid #4E6E7D;
                border-radius: 3px;
            };

            input:nth-of-type(1) {
                margin-right: 45px;
            };

            input:nth-of-type(2) {
                margin-left: 45px;
            };

            select#school {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-color: #FFFFFF;
                padding: 14px;
                width: 100%;
                border: 1px solid #4E6E7D;
                border-radius: 3px;
                margin: 20px auto;
            };
        };

        .billContent {
            width: 85%;
            margin: 0 auto;

            input {
                background-color: #FFFFFF;
                width: 100%;
                padding: 14px 0;
                border: 1px solid #4E6E7D;
                border-radius: 3px;
            };

            textarea {
                @extend input;
            };

            .sectionLabel {
                font-size: 1.5em;
                margin: 20px 0;
            };
        };

        button#makeBill {
            margin: 30px 34%;
            padding: 2% 10%;
            font-size: 1.4em;
            background-color: #EF8170;
            color: white;
        };

        button#makeBill:hover {
            opacity: 0.3%;
            padding: 2% 8%;
            font-size: 1.8em;
        };

        button#makeBill {
            -webkit-transition: all .4s ease-in-out;
            -moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }

        p.warning {
            text-align: center;
            margin: 0 auto 20px auto;
            width: 50%;
        };
    };
};
