/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: normal;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none; }

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc; }

.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c; }

.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad; }

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad; }

.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c; }

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a; }

.btn-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19; }

.btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925; }

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925; }

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c; }

.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625; }

.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439; }

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439; }

.disabled {
  pointer-events: none;
  opacity: 0.65;
  -webkit-box-shadow: none;
  box-shadow: none; }

body {
  background-color: #B7D1DE;
  color: #485866;
  /* firefox 19+ */
  /* ie */ }
  body input::-webkit-input-placeholder, body .card .billContent textarea::-webkit-input-placeholder {
    font-size: 1.2em; }
  body input::-moz-placeholder, body .card .billContent textarea::-moz-placeholder {
    font-size: 1.2em; }
  body input:-ms-input-placeholder, body .card .billContent textarea:-ms-input-placeholder {
    font-size: 1.2em; }
  body input:-moz-placeholder, body .card .billContent textarea:-moz-placeholder {
    font-size: 1.2em; }
  body .card {
    width: 70%;
    border: 1px solid black;
    margin: 0 auto;
    background-color: #FFFFFF; }
    body .card .header {
      width: 100%;
      padding: 2% 0;
      background-color: #4E6E7D; }
      body .card .header h1 {
        text-align: center;
        color: white;
        font-size: 2em; }
    body .card .authorInfo {
      width: 85%;
      margin: 20px auto; }
      body .card .authorInfo input, body .card .authorInfo .billContent textarea, body .card .billContent .authorInfo textarea {
        width: 40%;
        padding: 14px;
        border: 1px solid #4E6E7D;
        border-radius: 3px; }
      body .card .authorInfo input:nth-of-type(1), body .card .authorInfo .billContent textarea:nth-of-type(1), body .card .billContent .authorInfo textarea:nth-of-type(1) {
        margin-right: 45px; }
      body .card .authorInfo input:nth-of-type(2), body .card .authorInfo .billContent textarea:nth-of-type(2), body .card .billContent .authorInfo textarea:nth-of-type(2) {
        margin-left: 45px; }
      body .card .authorInfo select#school {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #FFFFFF;
        padding: 14px;
        width: 100%;
        border: 1px solid #4E6E7D;
        border-radius: 3px;
        margin: 20px auto; }
    body .card .billContent {
      width: 85%;
      margin: 0 auto; }
      body .card .billContent input, body .card .billContent textarea {
        background-color: #FFFFFF;
        width: 100%;
        padding: 14px 0;
        border: 1px solid #4E6E7D;
        border-radius: 3px; }
      body .card .billContent .sectionLabel {
        font-size: 1.5em;
        margin: 20px 0; }
    body .card button#makeBill {
      margin: 30px 34%;
      padding: 2% 10%;
      font-size: 1.4em;
      background-color: #EF8170;
      color: white; }
    body .card button#makeBill:hover {
      opacity: 0.3%;
      padding: 2% 8%;
      font-size: 1.8em; }
    body .card button#makeBill {
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
    body .card p.warning {
      text-align: center;
      margin: 0 auto 20px auto;
      width: 50%; }

/*# sourceMappingURL=student.css.map */
