doctype html
html
    head 
        title Bill Tracking System
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
        link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.5/css/bootstrap-select.min.css")
        link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.5/js/bootstrap-select.min.js")
        link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.5/js/i18n/defaults-*.min.js")
        script
            $(".selectpicker").selectpicker();
    body
        .container
            .row
                h1 Welcome to South Carolina Youth In Government
                h3 Submit Your Bill
            .row
                form.form-inline
                    .form-group
                        label Name
                        input.form-control(type="text", placeholder="Your Name")
                    .form-group
                        label Last Name
                        input.form-control(type="text", placeholder="Your Last Name")
                    select.selectpicker
                        option Select Your School
                        option Riverside
                        option Southside
                        option Eastside
                        option Christ Church
                        option Porter Gaud
                        option Mauldin
                        option Blufton
            .row
                .billTitle
                    form.form-inline
                        .form-group
                            h4 A Bill to
                            input.form-control(type="text", placeholder="Action Word")
                            input.form-control(type="text", placeholder="Article")
                            input.form-control(type="text", placeholder="Object")
                            | to
                            input.form-control(type="text", placeholder="Specific Summary of Solution")
            .row
                h5 BE IT HEREBY ENACTED BY THE YMCA MODEL LEGISLATURE OF SOUTH CAROLINA
                .billText
                    .row
                        label Section 1 
                            textarea.form-control(rows=3, placeholder="State the new policy in a brief declarative sentence, or in as few sentences as possible.")
                    .row
                        label Section 2 
                            textarea.form-control(rows=3, placeholder="Define any ambiguous terms inherent in the first section.")
                    .row
                        label Section 3 
                            textarea.form-control(rows=3, placeholder="Name the government agency that will oversee the enforcement of the bill along with the specific enforcement mechanism.")
                    .row
                        label Section 4 
                            textarea.form-control(rows=5, columns=6, placeholder="Explain what impacts you expect would come once the bill is implemented")
                    .row
                        form.form-inline
                            .form-group
                                label Section 5 
                            .form-group
                                p When signed into law, the bill will first take place 
                                    input.form-control(type="text", placeholder="Indicate the implementation data/timeframe")
