doctype html
head
    title Bill Tracker
    link(rel="stylesheet", href="../../stylesheets/bootstrap/bootstrap.css")

    // Responsive Tags
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    //jQuery
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    
    //Firebase
    script(src="https://cdn.firebase.com/js/client/2.2.6/firebase.js")
body
    h1.text-center Attorney Schedule
        a(href="../judicialSystem.html").btn.btn-default BACK
        a(href="addEvent.html").btn.btn-default Add Event
        button.btn.btn-primary#changeSchedule Make Changes
    .row
        .col-md-4
        .col-md-4
            select#division.form-control
                option Select a Division
                option mock trial
                option appeals
        .col-md-4
    .row
        #schedule
    script(src="../../scripts/attorneySchedule.js")
    script(src="../../scripts/bootstrap-timepicker.js")
