doctype html
head
    title Bill Tracker
    link(rel="stylesheet", href="../../stylesheets/bootstrap/bootstrap.css")

    // Responsive Tags
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    //jQuery
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    
    //Firebase
    script(src="https://cdn.firebase.com/js/client/2.2.6/firebase.js")
body
    h1.text-center Manage Attorney Rounds
        a(href="roundAssignments.html").btn.btn-default BACK
    .row
        .col-md-5
        .col-md-2
            label Round Number
            select#roundNumber.form-control
                option round 0
                option round 1
                option round 2
                option round 3
                option round 4
                option round 5
                option round 6
        .col-md-5
    br
    .row
        .col-md-4
        .col-md-4
            #roundsInfo
        .col-md-4
    script(src="../../scripts/manageRounds.js")
    script(src="../../scripts/bootstrap-timepicker.js")
