doctype html
head
    title Bill Tracker
    link(rel="stylesheet", href="../../stylesheets/bootstrap/bootstrap.css")

    // Responsive Tags
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    //jQuery
    script(src="http://code.jquery.com/jquery-1.11.3.min.js")
    script(src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")
    
    //Firebase
    script(src="https://cdn.firebase.com/js/client/2.2.6/firebase.js")
body
    h1.text-center Attorney Round Assignments
        a(href="../judicialSystem.html").btn.btn-default BACK
        a(href="manageRounds.html").btn.btn-default Manage Rounds
        button.btn.btn-primary#changeRoundAssignments Make Changes
        button.btn.btn-default#getRound Get Round
    .row
        h2.text-center Trial Rounds
    .row
        .col-md-3
        .col-md-6
            button.btn.btn-default.form-control Round 1
            #trial
                table.table.table-bordered#round0
                    tr.active
                        td Prosecution
                        td Defense
                        td Presiding Judge
                        td Scorer
                        td Room
        .col-md-3
    .row
        .col-md-3
        .col-md-6
            button.btn.btn-default.form-control Round 2
            #trial
                table.table.table-bordered#round1
                    tr.active
                        td Prosecution
                        td Defense
                        td Presiding Judge
                        td Scorer
                        td Room
        .col-md-3
    .row
        .col-md-3
        .col-md-6
            button.btn.btn-default.form-control Round 3
            #trial
                table.table.table-bordered#round2
                    tr.active
                        td Prosecution
                        td Defense
                        td Presiding Judge
                        td Scorer
                        td Room
        .col-md-3
    .row
        .col-md-3
        .col-md-6
            button.btn.btn-default.form-control Round 4
            #trial
                table.table.table-bordered#round3
                    tr.active
                        td Prosecution
                        td Defense
                        td Presiding Judge
                        td Scorer
                        td Room
        .col-md-3
    .row
        .col-md-3
        .col-md-6
            button.btn.btn-default.form-control Round 5
            #trial
                table.table.table-bordered#round4
                    tr.active
                        td Prosecution
                        td Defense
                        td Presiding Judge
                        td Scorer
                        td Room
        .col-md-3
    .row
        .col-md-3
        .col-md-6
            button.btn.btn-default.form-control Round 6
            #trial
                table.table.table-bordered#round5
                    tr.active
                        td Prosecution
                        td Defense
                        td Presiding Judge
                        td Scorer
                        td Room
        .col-md-3
    script(src="../../scripts/matching-algo_trial.js")
    script(src="../../scripts/roundAssignments.js")
