doctype html
head
    title Bill Tracker
    link(rel="stylesheet", href="../../stylesheets/bootstrap/bootstrap.css")

    // Responsive Tags
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    //jQuery
    script(src="http://code.jquery.com/jquery-1.11.3.min.js")
    script(src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")
    
    //Firebase
    script(src="https://cdn.firebase.com/js/client/2.2.6/firebase.js")
body
    h1.text-center Attorney Round Assignments
        a(href="../judicialSystem.html").btn.btn-default BACK
        a(href="manageRounds.html").btn.btn-default Manage Rounds
        button.btn.btn-primary#changeSchedule Make Changes
        button.btn.btn-default#getRound Get Round
    .row
        .col-md-1
        .col-md-4
            h2.text-center Trial
            #trial
                table.table.table-bordered
                    tr.active
                        td Prosecution
                        td Defense
                        td Presiding Judge
                        td Scorer
                        td Room
        .col-md-2
        .col-md-4
            h2.text-center Appeals
            #appeals
        .col-md-1
    script(src="../../scripts/matching-algo_trial.js")
    script(src="../../scripts/roundAssignments.js")
