doctype html
head
    title Bill Tracker
    link(rel="stylesheet", href="../../stylesheets/bootstrap/bootstrap.css")
    link(rel="stylesheet", href="../../stylesheets/autocomplete.css")

    // Responsive Tags
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    //jQuery
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    
    //Firebase
    script(src="https://cdn.firebase.com/js/client/2.2.6/firebase.js")
body
    h1.text-center Judicial Setup
        a(href="../judicialSystem.html").btn.btn-default BACK
    .row
        .col-md-1
        .col-md-10
            .col-md-4
                h2.text-center Add a Judge
                form#judge
                    .form-group
                        label First Name
                        input(type="text" placeholder="enter the judge's first name")#firstName.form-control
                    .form-group
                        label Last Name
                        input(type="text" placeholder="enter the judge's last name")#lastName.form-control
                    .form-group
                        label Category
                        select#category.form-control
                            option Select a Category
                            option Presider
                            option Scorer
                    .form-group
                        button#addJudge.btn.btn-success.form-control Submit
            .col-md-4
                h2.text-center Add a Team
                form#team
                    .form-group
                        label Team Code
                        input(type="text" placeholder="enter the team's code")#newTeamCode.form-control
                    .form-group
                        label Division
                        select#division.form-control
                            option Select a Division
                            option Appeals
                            option Trial
                    .form-group
                        label School
                        select#school.form-control
                            option Select a School
                    .form-group
                        button#addTeam.btn.btn-success.form-control Submit
            .col-md-4
                h2.text-center Add an Attorney
                form#attorney
                    .form-group
                        label First Name
                        input(type="text" placeholder="enter the attorney's first name")#firstName.form-control
                    .form-group
                        label Last Name
                        input(type="text" placeholder="enter the attorney's last name")#lastName.form-control
                    .form-group
                        label Team Code
                        select#teamCode.form-control
                            option Assign the Attorney to a Team
                    .form-group
                        button#addAttorney.btn.btn-success.form-control Submit
        .col-md-1
    .row
        .col-md-4
        .col-md-4
            #search-form
            #message
        .col-md-4
    script(src="../../scripts/setup.js")
    script(src="../../scripts/autocomplete_trial.js")
    script(src="../../scripts/judicialSearch.js")
